<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="eMandates.Contract.Id" value="" />
    <!-- "0123456789" -->
    <add key="eMandates.Contract.SubId" value="" />
    <!-- "0" -->
    <add key="eMandates.Merchant.ReturnUrl" value="" />
    <!-- "https://webshop.nl/return_url" -->
    <add key="eMandates.AcquirerCertificate.Thumbprint" value="" />
    <!-- "1234567891234567891234567891234567891234" -->
    <add key="eMandates.AcquirerAlternateCertificate.Thumbprint" value="" />
    <!-- "1234567891234567891234567891234567891234" -->
    <add key="eMandates.SigningCertificate.Thumbprint" value="" />
    <!-- "1234567891234567891234567891234567891234" -->
    <add key="eMandates.Acquirer.DirectoryRequestUrl" value="" />
    <!-- "https://my.bank.nl/acquirer_dir" -->
    <add key="eMandates.Acquirer.TransactionRequestUrl" value="" />
    <!-- "https://my.bank.nl/acquirer_trx" -->
    <add key="eMandates.Acquirer.StatusRequestUrl" value="" />
    <!-- "https://my.bank.nl/acquirer_sts" -->
    <add key="eMandates.ServiceLogs.Enabled" value="" />
    <!-- "true" -->
    <add key="eMandates.ServiceLogs.Location" value="" />
    <!-- "C:\Merchant Website\ServiceLogs" -->
    <add key="eMandates.ServiceLogs.Pattern" value="" />
    <!-- "%Y-%M-%D\%h%m%s.%f-%a.xml" -->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>