<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    

    <!-- QA - dev machine -->
    
    <add key="eMandates.Contract.Id" value="-" />
    <add key="eMandates.Contract.SubId" value="0" />
    <add key="eMandates.AcquirerCertificate.Thumbprint" value="-" />
    <add key="eMandates.AcquirerAlternateCertificate.Thumbprint" value="-" />
    <add key="eMandates.Acquirer.DirectoryRequestUrl" value="-" />
    <add key="eMandates.Acquirer.TransactionRequestUrl" value="-" />
    <add key="eMandates.Acquirer.StatusRequestUrl" value="-" />
    <add key="eMandates.Merchant.ReturnUrl" value="http://localhost:8081/" />
    <add key="eMandates.SigningCertificate.Thumbprint" value="-" />
    <add key="eMandates.ServiceLogs.Location" value="-" />
    

    <add key="eMandates.ServiceLogs.Enabled" value="true" />    
    <add key="eMandates.ServiceLogs.Pattern" value="%Y-%M-%D\%h%m%s.%f-%a.xml" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.diagnostics>
    <sources>
      <source name="System.Security.Cryptography.Xml.SignedXml"
                         switchName="XmlDsigLogSwitch">
        <listeners>
          <add name="logFile" />
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="XmlDsigLogSwitch" value="Verbose" />
    </switches>
    <sharedListeners>
      <add name="logFile"
                      type="System.Diagnostics.TextWriterTraceListener"
                      initializeData="XmlDsigLog.txt"/>
    </sharedListeners>
    <trace autoflush="true">
      <listeners>
        <add name="logFile" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>
